# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

scenefrog.com {
    # 尝试连接到frp服务，如果连接失败则显示静态页面
    reverse_proxy localhost:8088 {
        # 使用transport指令设置超时
        transport http {
            dial_timeout 5s
        }
        
        # 当后端服务不可用时，显示静态页面
        @unavailable {
            status 404 502 503 504
        }
        handle_response @unavailable {
            root * /var/www/html
            rewrite * /offline.html
            file_server
        }
    }

    # 记录访问日志
    log {
        output file /var/log/caddy/scenefrog.com.access.log
    }
}







# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
